<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add/Edit Course</title>
    <!-- Bootstrap CSS CDN for styling -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">School Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/courses">Courses <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teachers">Teachers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/students">Students</a>
            </li>
        </ul>
    </div>
</nav>
<body class="container mt-4">
<h1 th:text="${#strings.isEmpty(course.id) ? 'Add Course' : 'Edit Course'}"></h1>
<form th:action="@{|/courses/${#strings.isEmpty(course.id) ? 'add' : 'edit/' + course.id}|}" th:object="${course}" method="post" class="mt-3">
    <input type="hidden" name="_method" th:value="${#strings.isEmpty(course.id) ? 'post' : 'put'}" />
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}" class="form-control" />
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger">Name Error</div>
    </div>
    <div class="form-group">
        <label for="capacity">Capacity:</label>
        <input type="number" id="capacity" th:field="*{capacity}" class="form-control" />
        <div th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}" class="alert alert-danger">Capacity Error</div>
    </div>
    <div class="form-group">
        <label for="credits">Credits:</label>
        <input type="number" id="credits" th:field="*{credits}" class="form-control"/>
        <div th:if="${#fields.hasErrors('credits')}" th:errors="*{credits}" class="alert alert-danger">Credits Error</div>
    </div>
    <div class="form-group">
        <label for="language">Language:</label>
        <select id="language" th:field="*{language}" class="form-control">
            <option value="" disabled th:selected="${languages == null}">--Select Language--</option>
            <option th:each="language : ${languages}" th:value="${language}" th:text="${language}"></option>
        </select>
        <div th:if="${#fields.hasErrors('language')}" th:errors="*{language}" class="alert alert-danger">Language Error</div>
    </div>
    <button type="submit" class="btn btn-primary" th:text="${#strings.isEmpty(course.id) ? 'Add' : 'Update'}"></button>
</form>
<a th:href="@{/courses}" class="btn btn-link mt-3">Back to List</a>
</body>
</html>