<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Course Details</title>
    <!-- Bootstrap CSS CDN for styling -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">School Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/courses">Courses <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teachers">Teachers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/students">Students</a>
            </li>
        </ul>
    </div>
</nav>
<body class="container mt-4">
<h1>Course Details</h1>
<div class="card">
    <div class="card-body">
        <p class="card-text"><strong>ID:</strong> <span th:text="${course.id}"></span></p>
        <p class="card-text"><strong>Name:</strong> <span th:text="${course.name}"></span></p>
        <p class="card-text"><strong>Language:</strong> <span th:text="${course.language}"></span></p>
        <p class="card-text"><strong>Capacity:</strong> <span th:text="${course.capacity}"></span></p>
        <p class="card-text"><strong>Student Count:</strong> <span th:text="${course.getStudents().size()}"></span></p>
        <h2 class="card-title">Student List</h2>
        <ul th:each="student:${course.getStudents()}">
            <li>
                <span th:text="${student.name}"></span>
            </li>
        </ul>
    </div>
</div>

<div class="mt-3">
    <a th:href="@{/courses/edit/{id}(id=${course.id})}" class="btn btn-warning">Edit</a>
    <a th:href="@{/courses}" class="btn btn-link">Back to List</a>
</div>
</body>
</html>