<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Courses List</title>
    <!-- Include Bootstrap CSS from CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">School Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/courses">Courses <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teachers">Teachers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/students">Students</a>
            </li>
        </ul>
    </div>
</nav>
<body class="container mt-5">
<h1>Courses List</h1>
<div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}"></div>

<!-- Bootstrap 'btn' and 'btn-primary' classes for button styling -->
<a href="/courses/add" class="btn btn-primary mb-3">Add New Course</a>

<!-- Bootstrap table classes for styling the table -->
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Capacity</th>
        <th>Language</th>
        <th>Credits</th>
        <th>Student Count</th>
        <th>Teacher</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="course : ${courses}">
        <td th:text="${course.id}"></td>
        <td th:text="${course.name}"></td>
        <td th:text="${course.capacity}"></td>
        <td th:text="${course.language}"></td>
        <td th:text="${course.credits}"></td>
        <td th:text="${course.getStudents().size()}"></td>
        <td>
            <span th:if="${course.teacher != null}" th:text="${course.teacher.name}"></span>
            <a th:if="${course.teacher != null}" th:href="@{/teachers/{id}(id=${course.teacher.id})}" class="btn btn-link">View Teacher</a>
            <span th:unless="${course.teacher}" th:text="'N/A'"></span>
        </td>
        <td>
            <a th:href="@{/courses/{id}(id=${course.id})}" class="btn btn-info">View</a>
            <a th:href="@{/courses/{id}(id=${course.id})}" class="btn btn-warning">Edit</a>
            <form th:action="@{/courses/delete/{id}(id=${course.id})}" method="post" th:onsubmit="return confirm('Are you sure you want to delete this course?')" style="display:inline">
                <input type="hidden" name="_method" value="DELETE" />
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
