<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${teacher.id == null ? 'Add Teacher' : 'Edit Teacher'}">Add/Edit Teacher</title>
    <!-- Bootstrap CSS CDN for styling -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">School Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/courses">Courses <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teachers">Teachers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/students">Students</a>
            </li>
        </ul>
    </div>
</nav>
<body class="container mt-4">
<h1 th:text="${teacher.id == null ? 'Add Teacher' : 'Edit Teacher'}"></h1>
<!-- Alert for displaying error messages if any -->
<div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>

<form th:action="@{|/teachers/${teacher.id == null ? 'add' : 'edit/' + teacher.id}|}" th:object="${teacher}" method="post" class="mt-3">
    <input type="hidden" name="_method" th:value="${#strings.isEmpty(teacher.id) ? 'post' : 'put'}" />

    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}" class="form-control" />
        <!-- Displaying field specific errors -->
        <div th:if="${#fields.hasErrors('name')}" class="alert alert-danger" th:errors="*{name}"></div>
    </div>

    <div class="form-group">
        <label for="course">Course:</label>
        <select id="course" name="courseId" class="form-control">
            <option value="">Select a Course</option>
            <option th:each="course : ${courses}" th:value="${course.id}" th:text="${course.name}"></option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!-- Link back to the list of teachers -->
<a th:href="@{/teachers}" class="btn btn-link">Back to List</a>
</body>
</html>
