<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teachers List</title>
    <!-- Bootstrap CSS CDN for styling -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">School Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/courses">Courses <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teachers">Teachers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/students">Students</a>
            </li>
        </ul>
    </div>
</nav>
<body class="container mt-4">
<h1>Teachers List</h1>

<!-- Bootstrap 'btn' and 'btn-primary' classes for button styling -->
<div class="mb-3">
    <a th:href="@{/teachers/add}" class="btn btn-primary">Add New Teacher</a>
</div>

<!-- Bootstrap table classes for styling the table -->
<table class="table table-striped table-bordered">
    <thead class="thead-dark">
    <tr>
        <th>Name</th>
        <th>Course Taught</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="teacher : ${teachers}">
        <td th:text="${teacher.name}"></td>
        <td th:text="${teacher.course != null ? teacher.course.name : 'N/A'}"></td>
        <td>
            <a th:href="@{|/teachers/${teacher.id}|}" class="btn btn-info">View</a>
            <a th:href="@{|/teachers/edit/${teacher.id}|}" class="btn btn-warning">Edit</a>
            <form th:action="@{|/teachers/delete/${teacher.id}|}" method="post" th:onsubmit="return confirm('Are you sure you want to delete this teacher?')" style="display:inline">
                <input type="hidden" name="_method" value="DELETE" />
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>