<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Teacher Details</title>
    <!-- Include Bootstrap CSS from CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">School Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/courses">Courses <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teachers">Teachers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/students">Students</a>
            </li>
        </ul>
    </div>
</nav>
<body class="container mt-4">
<h1>Teacher Details</h1>

<div class="card">
    <div class="card-body">
        <h2 class="card-title">Name: <span th:text="${teacher.name}"></span></h2>
        <h3 class="card-subtitle mb-2 text-muted">Course Taught:
            <span th:if="${teacher.course != null}" th:text="${teacher.course.name}"></span>
            <span th:unless="${teacher.course}" th:text="'No Courses For This Teacher'"></span>
        </h3>
    </div>
</div>

<div class="mt-3">
    <a th:href="@{|/teachers/edit/${teacher.id}|}" class="btn btn-warning">Edit</a>
    <form th:action="@{|/teachers/delete/${teacher.id}|}" method="post" th:onsubmit="return confirm('Are you sure you want to delete this teacher?')" style="display:inline">
        <input type="hidden" name="_method" value="DELETE" />
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    <a th:href="@{/teachers}" class="btn btn-secondary">Back to List</a>
</div>
</body>
</html>