<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Students List</title>
    <!-- Bootstrap CSS CDN for styling -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">School Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/courses">Courses <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teachers">Teachers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/students">Students</a>
            </li>
        </ul>
    </div>
</nav>
<body class="container mt-4">
<h1>Students List</h1>
<!-- Bootstrap styled table -->
<table class="table table-hover table-bordered">
    <thead class="thead-light">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Major</th>
        <th>Courses</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="student : ${students}">
        <td th:text="${student.id}"></td>
        <td th:text="${student.name}"></td>
        <td th:text="${student.age}"></td>
        <td>
            <a th:href="@{/students/by-major/{major}(major=${student.major})}" th:text="${student.major}"></a>
        </td>
        <td>
            <ul class="list-unstyled">
                <li th:each="course : ${student.courses}">
                    <a th:href="@{/courses/{id}(id=${course.id})}" th:text="${course.name}"></a>
                </li>
            </ul>
        </td>
        <td>
            <a th:href="@{/students/{id}(id=${student.id})}" class="btn btn-info btn-sm">View</a>
            <a th:href="@{/students/edit/{id}(id=${student.id})}" class="btn btn-primary btn-sm">Edit</a>
            <form th:action="@{/students/delete/{id}(id=${student.id})}" method="post" th:onsubmit="return confirm('Are you sure you want to delete this student?')" style="display:inline">
                <input type="hidden" name="_method" value="DELETE" />
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<!-- Bootstrap styled button -->
<a th:href="@{/students/add}" class="btn btn-success">Add New Student</a>
</body>
</html>