<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Details</title>
    <!-- Bootstrap CSS CDN for styling -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">School Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/courses">Courses <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teachers">Teachers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/students">Students</a>
            </li>
        </ul>
    </div>
</nav>
<body class="container mt-4">
<h1>Student Details</h1>

<div class="card">
    <div class="card-body">
        <p class="card-text"><strong>ID:</strong> <span th:text="${student.id}"></span></p>
        <p class="card-text"><strong>Name:</strong> <span th:text="${student.name}"></span></p>
        <p class="card-text"><strong>Age:</strong> <span th:text="${student.age}"></span></p>
        <p class="card-text"><strong>Major:</strong> <span th:text="${student.major}"></span></p>
        <p class="card-text"><strong>Courses:</strong></p>
        <ul class="list-group list-group-flush">
            <li th:each="course : ${student.courses}" class="list-group-item">
                <a th:href="@{/courses/{id}(id=${course.id})}" th:text="${course.name}"></a>
            </li>
        </ul>
    </div>
</div>

<a th:href="@{/students}" class="btn btn-link mt-3">Back to List</a>
</body>
</html>