<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${#strings.isEmpty(student.id) ? 'Add Student' : 'Edit Student'}">Add/Edit Student</title>
    <!-- Include Bootstrap CSS from CDN -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">School Portal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/courses">Courses <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/teachers">Teachers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/students">Students</a>
            </li>
        </ul>
    </div>
</nav>
<body class="container mt-4">
<h1 th:text="${#strings.isEmpty(student.id) ? 'Add Student' : 'Edit Student'}"></h1>

<!-- Bootstrap form styling -->
<form th:action="@{|/students/${#strings.isEmpty(student.id) ? 'add' : 'edit/' + student.id}|}" th:object="${student}" method="post" class="mt-3">
    <input type="hidden" name="_method" th:value="${#strings.isEmpty(student.id) ? 'post' : 'put'}" />
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}" class="form-control" />
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert alert-danger">Name Error</div>
    </div>

    <div class="form-group">
        <label for="age">Age:</label>
        <input type="number" id="age" th:field="*{age}" class="form-control" />
        <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="alert alert-danger">Age Error</div>
    </div>

    <div class="form-group">
        <label for="major">Major:</label>
        <select id="major" th:field="*{major}" class="form-control">
            <option value="" disabled th:selected="${student.major == null}">--Select Major--</option>
            <option th:each="major : ${majors}" th:value="${major}" th:text="${major}"></option>
        </select>
        <div th:if="${#fields.hasErrors('major')}" th:errors="*{major}" class="alert alert-danger">Major Error</div>
    </div>

    <div>
        <label>Courses:</label>
        <div th:each="course : ${courses}" class="form-check">
            <input id="course${course.id}" type="checkbox" name="selectedCourseIds" th:value="${course.id}" th:checked="${!#strings.isEmpty(student.id)} ? ${courseCheckedMap[course.id]} : false" class="form-check-input" />
            <label th:for="${'course' + course.id}" th:text="${course.name}" class="form-check-label"></label>
        </div>
    </div>

    <button type="submit" class="btn btn-primary" th:text="${#strings.isEmpty(student.id) ? 'Add' : 'Update'}"></button>
</form>

<!-- Link back to the student list -->
<a th:href="@{/students}" class="btn btn-link mt-3">Back to List</a>
</body>
</html>